@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
}

nav ul {
  display: flex;
  list-style: none;
  justify-content: end;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #344563;
  padding-right: 60px;
}

nav li {
  padding-right: 20px;
  padding-left: 25px;
}

nav ul li a {
  text-decoration: none;
}

.logo {
  color: #6070ff;
  font-size: 24px;

  /* line-height: 50px; */
  font-weight: 700;
  margin-left: 10%;

  /* margin-top: 50px; */
  padding-top: -10%;
}

.menu-bar i {
  position: absolute;
  left: 87%;
  top: 1%;
  color: #6070ff;
  font-size: 1.8rem;
  cursor: pointer;
}

.closing-btn {
  font-size: 2rem;
  color: white;
  margin: -10px 3px;
  display: none;
  cursor: pointer;
}

.nav-bar .nav-menu .close-btn {
  display: block;
  position: absolute;
  top: 20px;
  right: 30px;
}

#error-msg {
  color: #fff;
  font-size: 18px;
}

@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    right: 0;
    top: 0;
    font-size: 32px;
    padding: 100px 0;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-color: rgb(13 35 235 / 77.4%);
    transition: right 0.3s ease;
    display: none;
    z-index: 10;
    backdrop-filter: blur(10px);
  }

  .nav-bar .menu-bar {
    display: block;
  }

  .nav-menu li a {
    color: #fff;
  }

  .nav-menu li a:hover {
    color: #ccc;
  }

  .nav-menu .item {
    display: inline-block;
    margin: 0 20px;
    padding: 15px;
    font-weight: 600;
    font-size: 32px;
  }

  .header-line {
    background: url('/img/background/header-shapes-mobile.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 40%;
    border-bottom-left-radius: 50px;
  }

  .header-line .first-heading {
    justify-content: center;
    align-items: center;
    color: #172b4d;
    margin-top: 30%;
    margin-left: 10%;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif;
  }

  .descrption-p {
    padding: 0  10%;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #344563;
  }

  .media-part-heading {
    font-size: 18px;
    color: #7f8cff;
    margin-left: 10%;
    padding-top: 4%;
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    margin-left: 10%;
    margin-top: 10px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 8px;
    margin-top: 86px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
    left: 24px;
    top: 10%;
  }

  .card-heading {
    color: #172b4d;
    font-size: 32px;
  }

  .card-img img {
    width: 100%;
    height: 300px;
  }

  .firs-card-head {
    color: #172b4d;
  }

  form li {
    list-style: none;
  }

  .prof {
    display: flex;
  }

  .prof li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    font-size: 12px;
    color: #7a869a;
  }

  .dec-p {
    font-size: 12px;
    font-family: 'Poppins', sans-serif;
    color: #172b4d;
  }

  .prof .item {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 8px;
    color: #344563;
    padding: 13px;
    margin-left: -10px;
  }

  .item-prof {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-right: 15px;
    color: #293d3d;
  }

  .lang-tag {
    display: flex;
    flex-direction: row;
  }

  .lang-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    font-weight: 500;
    background-color: #ebebff;
    padding: 8px 12px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
  }

  .see-btn {
    color: #396df2;
    font-weight: 400;
    font-size: 15px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 7px;
    border: 1.5px solid #396df2;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 5%;
    margin-top: 15px;
  }

  .about-p {
    color: #344563;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

  #about-me {
    background-color: #fff;
    width: 100%;
    margin-top: 30%;
    padding-top: 30%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30%;
    border-top-right-radius: 50px;
  }

  .about-myself {
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 10%;
  }

  .about-soc-h {
    color: #7f8cff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 5px;
    margin-bottom: 7px;
  }

  .social-media-desk {
    display: flex;
    flex-direction: row;
  }

  .social-list {
    display: flex;
    list-style: none;
    gap: 20px;
    margin-left: -15px;
  }

  .resume-btn {
    color: #396df2;
    font-weight: 400;
    font-size: 17px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 14px;
    border: 1.5px solid #396df2;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 20%;
    margin-top: 20px;
  }

  .language-h {
    display: flex;
  }

  .language-h img {
    display: none;
  }

  .pro-lang li {
    list-style: none;
    background: #95939324;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 5px;
  }

  .lan .lan-list {
    margin-left: 20px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #253858;
  }

  .lan img {
    width: 15%;
    margin-bottom: -14px;
  }

  .works {
    list-style: none;
    font-size: 20px;
    color: #000;
  }

  .framework img {
    margin-left: 50%;
    margin-bottom: -15px;
    height: 28px;
  }

  .frame img {
    margin-left: 63%;
    margin-bottom: -15px;
    height: 28px;
  }

  .p-desk {
    display: none;
  }

  .line {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #dfe1e6;
  }

  .contact-me {
    background-image: url('./img/background/contactform-shapes-mobile.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: auto;
    width: 100%;
    background-color: #6070ff;
    border-top-left-radius: 50px;
    margin-top: -41px;
  }

  .contact-me-h .heading {
    padding-top: 103px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    height: 52px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
  }

  .contact-me-h .cont-p {
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 26px;
    color: #fff;
    padding-top: 63px;
    margin-left: 25px;
    margin-right: 25px;
  }

  form {
    margin: auto;
    padding: 24px;
  }

  form input[type="text"],
  [type="email"],
  textarea {
    width: 100%;
    padding: 7px 9px;
    margin: 8px 0;
    color: #172b4d;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }

  #message {
    height: 158px;
  }

  label {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }

  .btn-submit {
    color: #396df2;
    cursor: pointer;
  }

  .contact-me button {
    font-size: 18px;
    line-height: 5px;
    color: #6070ff;
    border: 1px solid #6070ff;
    background: #fff;
    border-radius: 8px;
    margin-top: 13px;
    padding: 18px 7px;
    margin-bottom: 28px;
    width: fit-content;
  }

  .desk-p {
    display: none;
  }

  .about-desk {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header-line {
    background: url('/img/background/head-header-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding-bottom: 10%;
    border-bottom-left-radius: 10%;
  }

  .header-line .first-heading {
    justify-content: center;
    align-items: center;
    color: #172b4d;
    margin-top: 20%;
    margin-left: 14%;
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 2%;
    font-family: 'Poppins', sans-serif;
  }

  .descrption-p {
    padding: 0 14%;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    color: #344563;
  }

  .media-part-heading {
    font-size: 18px;
    color: #7f8cff;
    margin-left: 14%;
    padding-top: 2%;
  }

  .social {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    margin-left: 14%;
    margin-top: 10px;
  }

  .container {
    display: flex;
    flex-direction: row;
    padding: 10px 16px;
    margin-top: 86px;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin-left: 9%;
    margin-right: 9%;
    left: 24px;
    gap: 38px;
  }

  #mylast-card {
    grid-template-rows: 1fr;
    order: 1;
  }

  .card-heading {
    color: #172b4d;
    font-size: 40px;
    display: flex;
    padding-top: 30px;
  }

  .container img {
    /* width: 58%; */
  }

  .firs-card-head {
    color: #172b4d;
  }

  .prof {
    display: flex;
  }

  form li {
    list-style: none;
  }

  .prof li {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
  }

  .dec-p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #172b4d;
  }

  .prof .item {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 8px;
    color: #344563;
    padding: 18px;
    margin-left: -10px;
  }

  .item-prof {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-right: 15px;
    color: #293d3d;
  }

  .lang-tag {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .lang-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    font-weight: 500;
    background-color: #ebebff;
    padding: 8px 12px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
    text-transform: lowercase;
  }

  .see-btn {
    color: #396df2;
    font-weight: 400;
    font-size: 17px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 14px;
    border: 1.5px solid #396df2;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 20%;
    margin-top: 20px;
  }

  .see-btn:hover {
    color: #fff;
    background: #396df2;
  }

  .about-me {
    display: flex;
  }

  .about-p {
    color: #344563;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
  }

  #about-me {
    background-color: #fff;
    width: 100%;
    margin-top: 10%;
    padding-top: 7%;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 18%;
    border-top-right-radius: 50px;
    display: flex;
    flex-direction: row;
  }

  .about-desk {
    color: #172b4d;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
  }

  .about-myself {
    display: none;
  }

  .about-soc-h {
    color: #7f8cff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .social-media-desk {
    display: flex;

    /* flex-direction: row; */
  }

  .social-list {
    display: flex;
    list-style: none;
    gap: 18px;
    margin-left: -14px;
  }

  .about-detailed {
    margin-top: 37px;
    margin-left: 10px;
    flex: 2;
  }

  .first {
    flex: 2;
  }

  .pro-lang {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .resume-btn {
    color: #396df2;
    font-weight: 400;
    font-size: 17px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px 14px;
    border: 1.5px solid #396df2;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 20%;
    margin-top: 20px;
  }

  .language-h {
    display: flex;
    flex-direction: row;
  }

  .language-h img {
    margin-left: 53%;
  }

  .pro-lang li {
    list-style: none;
    background: #95939324;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 5px;
    margin: 10px 0;
    padding-left: 5px;
  }

  .lan .lan-list {
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
  }

  .lan img {
    margin-left: 17%;
  }

  .works {
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
  }

  .framework img {
    margin-left: 54%;
    margin-bottom: -15px;
    height: 28px;
  }

  .frame img {
    margin-left: 61%;
    margin-bottom: -15px;
    height: 28px;
  }

  .line {
    margin-top: 30px;
    margin-bottom: 30px;
    color: #dfe1e6;
    width: 80%;
  }

  .contact-me {
    background-image: url('./img/background/contact-form-background-shapes.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: auto;
    width: 100%;
    background-color: #6070ff;
    border-top-left-radius: 60px;
    margin-top: -54px;
  }

  .contact-me-h .heading {
    padding-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    height: 52px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    padding-bottom: 40px;
  }

  .contact-me-h .cont-p {
    display: flex;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    padding-top: 63px;
    margin-left: 430px;
    margin-right: 441px;
  }

  form {
    margin: auto;
    padding: 24px;
  }



  form input[type="text"],
  [type="email"],
  textarea {
    width: 100%;
    padding: 12px 5px;
    margin: 8px 0;
    color: #172b4d;
    box-sizing: border-box;
    background: #fff;
    border: 1px solid #cfd8dc;
    border-radius: 3px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
  }

  #message {
    width: 483px;
    height: 229px;
  }

  label {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
  }

  .btn-submit {
    color: #396df2;
    cursor: pointer;
  }

  .contact-me button {
    font-size: 18px;
    line-height: 5px;
    color: #6070ff;
    border: 1px solid #6070ff;
    background: #fff;
    border-radius: 8px;
    margin-top: 13px;
    padding: 25px 22px;
    margin-bottom: 28px;
    width: fit-content;
    margin-left: 34%;
  }

  /* .card-info{
    order: 1;
  } */

  .desk-p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    color: #172b4d;
  }

  #mylast-card img {
    order: 2;
  }

  #one-desk img {
    order: 2;
  }

  .menu-bar i {
    display: none;
  }
}
